* {
    font-family: Arial, Helvetica, sans-serif;
}

#table-container{
    border: 3px solid red;
    overflow:auto;
}
table, th, td {
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    width:100%;
}
tr:nth-child(odd){
    background-color: darkgray;
}
tr:nth-child(even){
    background-color:gainsboro;
}
tr:hover{
    background-color:white
}
.box-container {
    padding:50px;
    border:30px dotted crimson;
}
.border-box{
    /* Cài đặt tại đây */

}
.content-box{
    /* Cài đặt tại đây */
}
