* {
    font-family: Arial, Helvetica, sans-serif;
}
h2 { 
    text-align: center;
}
div {
    padding: 10px 5px;
}
div.day14 { 
    padding: auto;
    border: 1px solid black;
    width: 500px;
    margin: auto;
}
label {
    min-width: 100px;
}
.btn {
    background-color: brown;
}

.btn1 {
    padding: 25px;
    margin: 10px;
    font-weight:600;
    font-size: 20px;
    width: 80px;
    height: 80px;
    
}
.so0{
    background-color:white;
    color:black;
}
.soam{
    color:white;
}
.soam.odd{
    background-color:rgba(255, 0, 0, 1);
}
.soam.even{
    background-color:rgba(255, 0, 0, 0.3);
}
.soduong.odd{
    background-color:rgba(0, 255, 0, 1);
    color:white;
}
.soduong.even{
    background-color:rgba(0, 255, 0, 0.3);
    color:white;
}

