* {
    font-family: Arial, Helvetica, sans-serif;
}
.table-external{
    border-collapse: collapse;
    border: 1px solid gray;
    margin: auto;
}
.table-external tr:nth-child(even) {
    background-color: #949191;
}

.th{
    font-weight: 800;
    background-color: cadetblue;
    padding: 25px;
    border: 1px solid gray;
    
}
.td{
    padding: 15px;
    border: 1px solid gray;
}
